/**
 * Oileus documentation styles
 * @author Ritesh Shrivastav<ritesh@codingdash.com>
 */

@import url(bootstrap.css);

header {
	padding-top: 40px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	background: #993D00;
	color: #FFF;
}
header h1{
	text-align: center;
	margin-bottom: 25px;
}
nav {
	margin-bottom: 20px;
	background: #642F0D;
}
ul.linear {
	padding: 0px;
	margin: 0px;
}
ul.linear li {
	display: inline-block;
	margin-right: 10px;
}
ul.linear li a{
	display: block;
	padding: 8px 15px;
	color: #FFF;
	text-decoration: none;
	margin: 2px;
}
ul.linear li.active a, ul.linear li a:hover{
	background: #421A00;
	border-radius: 6px;
}
#content {
	min-height: 300px;
}
footer {
	background: #F7F7F7;
	border-top: 1px solid #DDD;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 50px;
}
.example {
	margin: 10px;
	margin-bottom: 20px;
	background: #073A45;
	color: #FFFFFF;
	padding: 15px;
	white-space: pre;
	overflow: auto;
	display: block;
	font-family: Menlo, Consolas, Monaco, monospace;
	font-size: 12px;
	line-height: 20px;
	cursor: auto;
	box-shadow: 0px 2px 5px #A5A5A5;
}

.center {
	text-align: center;
}

ul.footlink{
	padding: 0px;
	margin: 0px;
}
ul.footlink li{
	display: inline-block;
	margin-left: 10px;
}
.log-list dd{
	margin-bottom: 30px;
}
.intro p {
	color: #999;
	font-size: 18px;
	margin-bottom: 30px;
}
.intro h1 {
	margin-bottom: 20px;
}